<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Signin</title>
</head>
<body>
    <%- include('partials/nav') %>

    <div class="container   mt-4">
        <form action="/user/signin" method="post">
        
            
          
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="text" id="exampleInputEmail1" name="email"  class="form-control" placeholder="enetr email">
            </div>
             
             <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" id="password" name="password"  class="form-control" placeholder="enetr password">
            </div>
        
           
            
          
            <button type="submit" class="btn btn-primary">Submit</button>
          </fieldset>
        </form>

    </div>
    
    <%- include('partials/scripts') %>

</body>
</html>
